@model Models.DishesBook
@{
    ViewBag.Title = "预订管理";
    Layout = "~/Areas/HotelWebManage/Views/Shared/HotelManageMaster.cshtml";
}

<div class="itemdiv">
    <div class="book-title">
        酒店名称
    </div>
    <div class="book-title">
        消费时间
    </div>
    <div class="book-title">
        消费人数
    </div>
    <div class="book-title">
        包间类型
    </div>
    <div class="book-title">
        客户姓名
    </div>
    <div class="book-title">
        联系电话
    </div>
    <div class="book-title" style="width: 152px;">
        操作
    </div>

    @if (ViewBag.DishesBookList != null)
    {
        foreach (Models.DishesBook dishesBook in ViewBag.DishesBookList)
        {
            <div class="book-title">
                @dishesBook.HotelName
            </div>
            <div class="book-title">
                @dishesBook.ConsumeTime
            </div>
            <div class="book-title">
                @dishesBook.ConsumePersons
            </div>
            <div class="book-title">
                @dishesBook.RoomType
            </div>
            <div class="book-title">
                @dishesBook.CustomerName
            </div>
            <div class="book-title">
                @dishesBook.CustomerPhone
            </div>
            <div class="book-title" style="width: 152px;">
                <a href='ModifyDishesBookStatus?bookId=@dishesBook.BookId&status=1'>通过</a>
                <a href='ModifyDishesBookStatus?bookId=@dishesBook.BookId&status=2'>撤销</a>
                <a href='ModifyDishesBookStatus?bookId=@dishesBook.BookId&status=3 ' onclick='if (confirm("确认关单吗？") == false) return false;'>关单</a>
            </div>
            <div class="bookdetail">
                <div class="book-Time">
                    预定时间： @dishesBook.BookTime
                </div>
                <div class="book-Time">
                    电子邮件：@dishesBook.CustomerEmail
                </div>
                <div class="book-Time">
                    预定状态：@dishesBook.OrderStatus  &nbsp;（0：未审核&nbsp;1：审核通过）
                </div>
                <div class="book-comment">
                    预定其他要求：@dishesBook.Comments
                </div>
            </div>
        }
    }
</div>

