@model Models.Recruitment

@{
    ViewBag.Title = "发布招聘";
    Layout = "~/Areas/HotelWebManage/Views/Shared/HotelManageMaster.cshtml";
}


<style type="text/css">
    .txt {
        width: 80px;
    }
</style>

@using (Html.BeginForm("SubmitRecruimentInfo", "Company", FormMethod.Post))
{
    <div class="txtContentdiv">
        <div class="txtItemdiv">
            职位名称：
            @Html.TextBoxFor(r => r.PostName, new { @class = "txt" })
            职位类型：
            <select id="PostType" name="PostType">
                <option>全职</option>
                <option>兼职</option>
            </select>
            工作经验：
            <select id="Experience" name="Experience">
                <option>1年</option>
                <option>2年</option>
                <option>3年</option>
                <option>4年</option>
                <option>5年</option>
            </select>
            学历要求：
            <select id="EduBackground" name="EduBackground">
                <option>本科</option>
                <option>硕士</option>
                <option>专科</option>
                <option>高中</option>
            </select>
            招聘人数：
            @Html.TextBoxFor(r => r.RequireCount, new { @class = "txt" })
            工作地点：
            @Html.TextBoxFor(r => r.PostPlace, new { @class = "txt" })
        </div>
        <div class="txtItemdiv">
            职位描述：
        </div>
        <div class="txtItemdiv">
            @Html.TextAreaFor(r => r.PostRequire, new { cols = "100", rows = "10" })
        </div>
        <div class="txtItemdiv">
            具体要求：
        </div>
        <div class="txtItemdiv">
            @Html.TextAreaFor(r => r.PostDesc, new { cols = "100", rows = "10" })
        </div>
        <div class="txtItemdiv">
            联系人：
            @Html.TextBoxFor(r => r.Manager)
            电话：
            @Html.TextBoxFor(r => r.PhoneNumber)
            电子邮件：
            @Html.TextBoxFor(r => r.Email)
        </div>
        <div class="txtItemdiv">
            <button class="btncss" id="btnModify" type="submit">立即发布</button>
            @if (ViewBag.PublishError != null)
            {
                <div class="txtItemdiv">发布失败！</div>
            }
        </div>
    </div>
}

