
@{
    ViewBag.Title = "投诉建议";
    Layout = "~/Views/Shared/HotelMain.cshtml";
}
@model Models.Suggestion
<link href="~/Styles/Dishes.css" rel="stylesheet" />
@section lefttitle1{
<div class="lefttitle">
    栏目导航
</div>
}
@section leftcontent1{
<div class="content1">
    <div class="conitem">
        <a href="#">公司介绍</a>
    </div>
    <div class="conitem">
        <a href="#">企业文化</a>
    </div>
    <div class="conitem">
        <a href="#">企业荣誉</a>
    </div>
    <div class="conitem">
        <a href="#">企业荣誉</a>
    </div>
    <div class="conitem">
        <a href="#">发展历程</a>
    </div>
</div>
}
@section lefttitle2{
<div class="lefttitle">
    联系方式
</div>
}
@section leftcontent2{
<div class="content2">
    <div style="padding-left: 33px; padding-right: 0px; font: 12px/18px simsun; color: #3f3b32;">
        地&nbsp; 址：杭州市莫山南路888号<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 汽车南站旁<br />
        电&nbsp; 话：0571-98888888<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 0571-98999999<br />
        传&nbsp; 真：0571-98777777<br />
        邮&nbsp; 箱：boss@mail.com
    </div>
</div>
}
@section righttitle{
<div class="righttitle">
    您现在所在的位置:中式餐厅酒店>投诉建议
</div>
}

@using (Html.BeginForm("Suggestions", "Company", FormMethod.Post, new { id = "mainForm" }))
{
    <div class="cdiv">
        <div class="item">
            <div class="itemtitle">
                <span>*</span>客户姓名：
            </div>
            <div class="itemcontent">
                @Html.TextBoxFor(m=>m.CustomerName,new {@class="txt" })
                @Html.ValidationMessageFor(m=>m.CustomerName)
            </div>
        </div>
        <div class="item">
            <div class="itemtitle">
                <span>*</span>您的消费情况：
            </div>
            <div class="itemcontent">
                @Html.TextBoxFor(m => m.ConsumeDesc, new { @class = "txt" })
                @Html.ValidationMessageFor(m => m.ConsumeDesc)
            </div>
        </div>
        <div class="item">
            <div class="itemtitle">
                <span>*</span> 联系电话：
            </div>
            <div class="itemcontent">
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "txt" })
                @Html.ValidationMessageFor(m => m.PhoneNumber)
            </div>
        </div>

        <div class="item">
            <div class="itemtitle">
                <span>*</span>电子邮件：
            </div>
            <div class="itemcontent">
                @Html.TextBoxFor(m => m.Email, new { @class = "txt" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
        <div class="item">
            <div class="itemtitle">
                <span>*</span> 投诉建议：
            </div>
            <div class="itemcontent">
                @Html.TextAreaFor(m => m.SuggestionDesc, new { @class = "txt" })
                @Html.ValidationMessageFor(m => m.SuggestionDesc)
            </div>
        </div>
        <div class="item">
            <div class="itemtitle">
                <span>*</span>   验证码：
            </div>
            <div class="itemcontent">
                <input class="txt" id="vCode" name="vCode" type="text" value="" />
            </div>
            <div class="item">
                <div class="itemtitle">
                </div>
                <div class="itemcontent">
                    <img alt="验证码图片" id="ImgValidateCode" title="看不清？点击换一个"
                         src="/Dishes/ValidateCode" onclick="this.src=this.src+'?'" />
                </div>
            </div>
        </div>
        <div class="item">
            <div class="itemtitle">
            </div>
            <div class="itemcontent">
                <input type="submit" class="btncss" name="提交投诉"  />
            </div>
        </div>
    </div>
}

