
@{
    ViewBag.Title = "新闻管理";
    Layout = "~/Areas/HotelWebManage/Views/Shared/HotelManageMaster.cshtml";
}
@model Models.News


<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script type="text/javascript">
    $(function () {
        $(".delNews").click(function () {
            if (!confirm("确定删除吗?")) return;
            var newsId = $(this).attr("name");
            $.post("/HotelWebManage/News/DeleteNews", { "newsId": newsId }, function (data, status) {
                if (data == "success") {
                    $("#" + newsId).remove();
                    location.href = "NewsManage";
                }
                else {
                    alert("删除失败！");
                }
            });
        });
    });
</script>

<div class="itemdiv">
    <div class="newsitem-title-1">
        发布时间
    </div>
    <div class="newsitem-title-2">
        新闻标题
    </div>
    <div class="newsitem-title-2">
        新闻分类
    </div>
    <div class="newsitem-title-3" style="width: 110px;">
        操作
    </div>

    @if (ViewBag.NewsList != null)
    {
        foreach (Models.News news in ViewBag.NewsList)
        {
            <div class="newsitem-title-1">
                @news.PublishTime
            </div>
            <div class="newsitem-title-2">
                <a href='/News/NewsDetail?newsId=@news.NewsId' target="_blank">
                    @news.NewsTitle
                </a>
            </div>
            <div class="newsitem-title-2">
                @news.NewsCategory.CategoryName
            </div>
            <div class="newsitem-title-3" style="width: 110px;">
                @Html.ActionLink("修改", "NewsModify", "News", new { NewsId = @news.NewsId }, new { @class = "" })
                <a href="javascript:void()" name="@news.NewsId" class="delNews">删除</a>&nbsp;&nbsp;
            </div>
        }
    }
</div>

